* {
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  .chat-main {
    height: 100px;
    background-color:#ffffff;
    width: calc(100vw - 300px);
    border: 1px solid;
    border-color: #eeeeee;
    &__header {
      padding: 0 40px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &__left {
        margin: 40px;
        &-box {
          color: #333333;
          margin-top: 15;
          font-size: 20px;
          &-text {
            color: #999999;
            padding-top: 25px;
            display: flex;
            list-style: none;
            position: absolute;
            bottom: 5px;
            font-size: 12px;
            &-member {
              
            }
          }
        }
      }
      &__right {
        font-size: 16px;
        color: #38aef0;
        padding-left: 23px;
        padding-top: 11px;
        margin-top: 19px;
        bottom: 10px;
        height: 50px;
        width: 90px;
        border: solid 1px #38aef0;
        text-align: justify;
        text-justify: auto;
        a{
          color: #38aef0;
        }
      }
    }
    &__message-list {
      background-color: #fafafa;
      height: calc(100vh - 10px - 95px);
      width: calc(100vw - 300px);
      color: #333333;
        &-date {
          &-comment {

        }
      }
    }
    .footer {
      background-color: #d2d2d2;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 90px;
      width: calc(100vw - 300px);
      float: right;
    }
  }

  .side-bar {
    background-color: #253141;
    width: 300px;
    float: left;
    &__header {
      height: 100px;
      &-box {
        background-color: #253141;
        position: absolute;
        width: 220px;
        top: 40px;
        left: 30px;
        display: flex;
        justify-content: space-between;
        &-left {
          color: white;
        }
        &-right {
          .icon {
            text-decoration: none;
            
            .fa {
              color: #ffffff;
              padding-left: 5px;
            }
          }
        }
      }
    }
  
      

    &__group-list {
      background-color: #2f3e51;
      width: 300px;
      height: calc(100vh - 100px);
      &__box {
        height: 65px;
        width: 300px;
        margin-right:20px;
        padding-left: 20px;
        
        &__name {
          color: #ffffff;
          font-size: 15px;
          padding-top: 20px;
          
        }

        &__comment {
          color: #ffffff;
          font-size: 11px;
          padding-top: 5px;
          padding-bottom: 40px;
        }
      }
    }
  }
}